version: '3.9'

services:
    web:
        build:
            context: .
            dockerfile: ./Dockerfile
        container_name: revinvest
        ports:
            - "8080:8080"
        volumes:
            - ./target/app:/usr/local/tomcat/webapps/ROOT
