version: '3.9'

services:
    web:
        build:
            context: .
            dockerfile: ./Dockerfile
            args:
                WAR_FILE: target/app.war
        container_name: revinvest
        ports:
            - "8080:8080"
        volumes: []
